<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <base href="/src/">
    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
        System.import('main.js').catch(function (err) { console.error(err); });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top" style="position:fixed;">
        <a class="navbar-brand" href="#">@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Product
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/">All Products</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Spring">Spring</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Summer">Summer</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Autumn">Autumn</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Winter">Winter</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Eye Care">Eye Care</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Acne">Acne</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Hydration">Hydration</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Eye Care">Eye Care</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Eye Care">Anti Wrinkle</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Anti Aging">Anti Aging</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Moisturiser">Moisturiser</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Treatment Lotion">Treatment Lotion</a>
                        <a class="dropdown-item" href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/catalog/Mask">Mask</a>

                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="@Url.Action("/", "src", null, Request.Url.Scheme)#/product/cart"><h1>&#128722;</h1></a>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

    </script>
</body>
</html>
