@model ECommerce.Models.Order

@{
    ViewBag.Title = "GetOrder";
}

<h2>Get Order</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderItemsString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderItemsString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>